<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.emmawinston.randomtonegenerator"
        versionCode = "0.0.1"
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Random Tone Generator</name>

    <description>
        A simple random tone generator with three different waveform options.
    </description>

    <author href="http://deerful.com" email="emma.winston@gmail.com">
        Emma Winston
    </author>

</widget>
